<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            USER LIST
        </h2>
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                            <tr
                                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th class="px-4 py-3">NAME</th>
                              
                                 <th class="px-4 py-3">EMAIL</th>
                                 <th class="px-4 py-3">PHONE</th>
                                
                                <th class="px-4 py-3">BLOCK/UNBLOCK</th>                               
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            {{#each users}}
                            <tr class="text-gray-700 dark:text-gray-400">
                                <td class="px-4 py-3">
                                    <div class="flex items-center text-sm">
                                        <div>
                                            <p class="font-semibold"> {{this.Name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{this.Email}}
                                </td>
                                   <td class="px-4 py-3 text-sm">
                                    {{this.phone}}
                                </td>
                                {{#if this.blocked}}
                                  <td class="px-4 py-3 text-xs">
                                    <span class="">
                                        <a class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700"
                                            href="/admin/changestatus?id={{this._id}}" role="button" onclick="return confirm('Are you sure  {{this.Name}} ?')">UNBLOCK</a>
                                    </span>
                                </td>                                 
                                {{else}}
                                  <td class="px-4 py-3 text-sm">
                                 <span class="">
                                        <a class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-700"
                                            href="/admin/changestatus?id={{this._id}}" role="button" onclick="return confirm('Are you sure  {{this.Name}} ?')">BLOCK</a>
                                   </span>
                                </td>
                                 {{/if}}
                            </tr>
                            {{/each}}                                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</div>

