<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            ORDER LIST
        </h2>
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                            <tr
                                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th>Order ID</th>

                                <th>Shipping Address</th>
                                <th>View All</th>
                                <th>Total Amount</th>
                                <th>Payment mode</th>
                                <th>Status</th>
                                <th>OrderDetails</th>
                                <th>Save</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            {{#each orderList}}
                            <tr class="text-gray-700 dark:text-gray-400">
                                <form action="/admin/edit-status/{{this._id}}" method="post">
                                    <td class="px-4 py-3">
                                        <div class="flex items-center text-sm">
                                            <div>
                                                <p class="font-semibold"> {{this._id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        {{this.deliveryDitails.homeaddress}}<br>
                                        {{this.deliveryDitails.fullAddress}}<br>
                                        {{this.deliveryDitails.town}}<br>
                                        {{this.deliveryDitails.Country}}<br> {{this.deliveryDitails.pincode}}
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <a class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-700"
                                            href="/admin/view-details/{{this._id}}">view Details</a>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        ₹ {{this.total}}
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        {{this.paymentMethod}}
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        {{this.status}}
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <select class="" name="status" id="status">
                                            <option value="">{{this.status}}</option>
                                            <option value="cancelled">cancelled</option>
                                            <option value="delivered">delivered</option>
                                            <option value="shipped">shipped</option>
                                            <option value="placed">placed</option>
                                        </select>
                                    </td>
                                    {{#if this.cancelled}}
                                    <td style="color: red;">{{this.status}}</td>
                                    {{else if this.delivered}}
                                    <td style="color: green;">{{this.status}}</td>
                                    {{else if this.returned}}
                                    <td style="color: rgb(117, 128, 0);">{{this.status}}</td>
                                    {{else}}
                                    <td><button type="submit"
                                            class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:text-green-100 dark:bg-red-700">Save
                                            status</button></td>
                                    {{/if}}
                                </form>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>