<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>{{oneCat.category}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="product spad">
    <div class="container">
        <h1>{{oneCat.category}}</h1>
        <div class="row property__gallery">
            {{#each products}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg=""><img
                            src="/assets/product-images/{{this._id}}.jpg" alt="not show">
                        {{#if catOfferPercentage}}
                        <div class="label new">{{this.catOfferPercentage}}% off</div>
                        {{/if}}
                        {{#if productOfferPercentage}}
                        <p class="label new">{{productOfferPercentage}}<small>%off</small></p>
                        {{/if}}
                        <ul class="product__hover">
                            <li><a href="/assets/product-images/{{this._id}}.jpg" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                            {{!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li> --}}
                               {{#if this.wishlisted }}
                            <li><a onclick="addToWishlist('{{this._id}}')" class="social-info btn_prod">
                                    <span id="{{this._id}}wishList" class="icon_heart_alt wish"></span>
                                </a></li> {{else}}
                            <li><a onclick="addToWishlist('{{this._id}}')" class="social-info btn_prod">
                                    <span id="{{this._id}}wishList" class="icon_heart_alt "></span>
                                </a></li>
                            {{/if}}
                            <li><a><button onclick="addToCart('{{this._id}}')"><span
                            class="icon_bag_alt"></span></button></a></li>
                        </ul>
                        </a>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/product-view/{{this._id}}">{{this.Name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">{{#if actualPrice}}₹ {{this.price}}<span> <del>₹
                        {{this.actualPrice}}</del></span>{{else}}₹ {{this.price}}{{/if}}</div>
                        {{#if fewStock}}
                        <p class="text-danger">Only Few Available!</p>
                        {{/if}}
                        {{#if noStock}}
                        <p class="text-danger">Out Of Stock!</p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>


<script src="/javascripts/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function addToWishlist(proId) {
        let id = proId + 'wishList'
        var btn = document.getElementById(id)
         Swal.fire({
            icon: "success",
            title: "Item Added to WishList",
            timer: 2000,
        }).then(() => {
            location.reload()
        })
        $.ajax({
            url: '/add-to-wishlist/' + proId,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    console.log(response.wishlist)
                    if (response.wishlist) {
                        btn.classList.add('wish')
                         Swal.fire({
                            icon: "success",
                            title: "Item Added to WishList",
                            showConfirmButton: false,
                            timer: 1000,
                        }).then(() => {
                            location.reload()
                        })
                    } else {
                        btn.classList.remove('wish')
                    }
                } else {
                    location.href = "/login";
                }
            }
        })
    }
</script>
<script>
    function addToCart(proId) {
        $.ajax({
            url: "/add-to-cart/" + proId,
            method: "get",
            success: (response) => {
                if (response.status == "add") {
                    let count = $("#cart-count").html();
                    count = parseInt(count) + 1;
                    $("#cart-count").html(count);
                    Swal.fire({
                        icon: "success",
                        title: "Item added to Cart",
                        showConfirmButton: false,
                        timer: 1000,
                    }).then(() => {
                        location.reload()

                    })
                } else if (response.status == "noStock") {
                    Swal.fire({
                        icon: "error",
                        title: "Oops..!",
                        text: "Out Of Stock!",
                        showConfirmButton: false,
                        timer: 1000,
                    });
                } else if (response.status == "fewStock") {
                    Swal.fire({
                        icon: "error",
                        title: "Oops..!",
                        text: "Out Of Stock!",
                        showConfirmButton: false,
                        timer: 1000,
                    });
                } else if (response.status == "maxLimitStock") {
                    Swal.fire({
                        icon: "warning",
                        title: "Oops..!",
                        text: "Limit Is Reached!",
                        showConfirmButton: false,
                        timer: 1000,
                    });
                } else {
                    location.href = "/login";
                }
            },
        });
    }
</script>
