<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Css Styles -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">


<!-- Shop Cart Section Begin -->
<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>My Order</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="shop-cart spad " style="text-align: center;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>ADDRESS</th>
                                <th>Status</th>
                                <th>View product</th>
                                <th>Total Amount</th>
                                <th>Payment mode</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each order}}
                            <tr>
                                <td>{{this.date}}</td>
                                <td>
                                    {{this.deliveryDitails.homeaddress}}<br>{{this.deliveryDitails.fullAddress}}<br>{{this.deliveryDitails.town}}<br>{{this.deliveryDitails.Country}}<br>{{this.deliveryDitails.pincode}}
                                </td>
                                <td>{{this.status}}</td>
                                {{#if this.cancelled}}
                                <td><a class="btn btn-success disabled" href="/view-order/{{this._id}}">View product</a>
                                </td>
                                {{else if this.returned}}
                                <td><a class="btn btn-success disabled" href="/view-order/{{this._id}}">View product</a>
                                </td>
                                {{else}}
                                <td><a class="btn btn-warning" href="/ordered-products/{{this._id}}">View product</a>
                                </td>
                                {{/if}}
                                <td>₹{{this.total}}</td>
                                <td>{{this.paymentMethod}}</td>
                                {{#if this.cancelled}}
                                <td style="color: red;">{{this.status}}</td>
                                {{else if this.delivered}}
                                <td style="color: rgb(9, 194, 15);">{{this.status}}</td>
                                <td><a class="btn btn-warning" href="/order-return/{{this._id}}">Return order</a></td>
                                {{else if this.returned}}
                                <td style="color: rgb(117, 128, 0);">{{this.status}}</td>
                                {{else}}
                                <td><a class="btn btn-danger" href="/cancel-Order/{{this._id}}"
                                        onclick="return confirm('Are you sure  {{this.Name}} ?')">Cancel order</a></td>
                                {{/if}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="cart__btn">
                    <a href="/">Continue Shopping</a>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mixitup.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.slicknav.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.nicescroll.min.js"></script>
<script src="/assets/js/main.js"></script>

