<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Css Styles -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">


{{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{#if wishCount}}
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table" style="text-align: center;">
                    <table >
                        <thead>
                            <tr>
                                <th>IMAGE</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                          {{#each product}}
                            <tr style="text-align: center;"> 
                                <td class="cart__product__item__title" >
                                    {{!-- <img style="width:100px ; height: 100px;"
                                        src="/assets/product-images/{{product._id}}.jpg" alt=""> --}}
                                     <img style="width:100px ;" src="/assets/product-images/{{product._id}}.jpg" class="img-fluid rounded-3">
                                </td>
                                <td>
                                    <div class="cart__product__item__title">
                                        <h6>{{product.Name}}</h6>
                                    </div>
                                </td>
                      
                                <td class="cart__price">₹{{product.price}}</td>
                                <a href="">
                                    <td class="cart__close"><button onclick="removeProduct('{{this.product._id}}')"><span
                                                class="icon_close"></span></button></td>
                                </a>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="/">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>


{{else}}
<div class="container">
    <img style="width:200px ;height:200px ;"
        src="https://media1.giphy.com/media/KxRI2oSHkjTU4AzXxW/giphy.gif?cid=6c09b9521af5174fdacc9d985d82e59d0a9cc58254639b4a&rid=giphy.gif&ct=s"
        alt="">
    <h1>WishList Empty</h1>
</div>
{{/if}}


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mixitup.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.slicknav.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.nicescroll.min.js"></script>
<script src="/assets/js/main.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function removeProduct(proId) {
        swal({
            title: "Are you sure You Want to Remove?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/wishlist_removeproduct/' + proId,
                        method: 'get',
                        success: (response) => {
                            console.log(response, "respons")
                            if (response.status) {
                                location.reload()
                                let count = $('#wishList-count').html()
                                count = parseInt(count) - 1
                                $('#wishList-count').html(count)
                            }
                        }
                    })
                    swal("Poof! Your imaginary Wish has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("Your imaginary Wish is safe!");
                }
            });
    }
</script>